body {
  background: #3e3e3e;
}

.music-player {
  --width: 450px;

  width: var(--width);
  height: calc(var(--width) * 1.7);
  border: 15px solid #1b0536;
  border-radius: 35px;
  background: #260f41;
  display: grid;
  grid-template-rows: 3fr 1fr 4fr;
  overflow: hidden;

  & .cover {
    background: var(--cover-image);
    background-size: cover;
  }

  & .song-info {
    background: #008000;

    /* position: relative;
    top: -20px; */
  }

  & .song-list {
    background: blue;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .song-item {
      display: grid;
      grid-template-columns: 1fr 4fr 1fr;

      & .icon-container button {
        border: 0;
        background: none;

        & svg path {
          fill: #fff;
        }
      }

      & .icon-container.music {
        display: grid;
        place-items: center;
      }

      & hgroup {
        & h2, p {
          margin: 0;
        }

      }

      & .icon-container.like {
        display: grid;
        place-items: center;
      }

    }

  }
}
